| Hey! Thanks for using I Dig DogeD!
| 
| So it looks like you want to withdraw your coins. It's pretty easy! Here's what you've gotta do:
| 
| 1. Set up a DogecoinDark wallet. Download the DogecoinDark client for your operating system. You can find more information at http://DogecoinDark.net
| 2. Copy your wallet's address.
| 3. Click the link below, paste your address into the box, and press Withdraw. You're done!
| 
| Hopefully you've enjoyed using I Dig DogeD, and will continue to use it in the future! Because it IS pretty awesome. :)
| 
| https://dogecoindark.net/withdraw/#{withdraw}
| 
| Note: This link will only work for 24 hours. If you miss it, just try to withdraw again from the home page.
