p Problems? Ideas? Email <a href="mailto:idigdoge@gmail.com">sunerok@goldmin.es</a>.
p Donate DOGED to dev:  DEeTEdnDaf4FrSiQVoAtX3QavCnA3vb4WS
p Code hosted on <a href="https://github.com/doged/idigdoged" target="_blank">GitHub</a>.
